node_modules/
.vercel
.env
.env.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/
.env*.local
canva/Salinan dari APP PROTOTYPE FIX/9. Test API (2).png
canva/Salinan dari APP PROTOTYPE FIX/8. Test API (1).png
canva/Salinan dari APP PROTOTYPE FIX/7. Main Dashboard (Slide 5).png
canva/Salinan dari APP PROTOTYPE FIX/6. Main Dashboard (Slide 4).png
canva/Salinan dari APP PROTOTYPE FIX/5. Main Dashboard (Slide 3).png
canva/Salinan dari APP PROTOTYPE FIX/4. Main Dashboard (Slide 2).png
canva/Salinan dari APP PROTOTYPE FIX/3. Main Dashboard (Slide 1).png
canva/Salinan dari APP PROTOTYPE FIX/2. Pin Login.png
canva/Salinan dari APP PROTOTYPE FIX/16. Recommendation (1).png
canva/Salinan dari APP PROTOTYPE FIX/15. Analysis (6).png
canva/Salinan dari APP PROTOTYPE FIX/14. Analysis (5).png
canva/Salinan dari APP PROTOTYPE FIX/13. Analysis (4).png
canva/Salinan dari APP PROTOTYPE FIX/12. Analysis (3).png
canva/Salinan dari APP PROTOTYPE FIX/11. Analysis (2).png
canva/Salinan dari APP PROTOTYPE FIX/10. Analysis (1).png
canva/Salinan dari APP PROTOTYPE FIX/1. Landing Page.png
canva/Salinan dari APP PROTOTYPE FIX.zip
canva/Salinan dari APP PROTOTYPE FIX.pdf
canva/1. Landing Page.png
canva/10. Analysis (1).png
canva/11. Analysis (2).png
canva/12. Analysis (3).png
canva/13. Analysis (4).png
canva/14. Analysis (5).png
canva/15. Analysis (6).png
canva/16. Recommendation (1).png
canva/2. Pin Login.png
canva/3. Main Dashboard (Slide 1).png
canva/4. Main Dashboard (Slide 2).png
canva/5. Main Dashboard (Slide 3).png
canva/6. Main Dashboard (Slide 4).png
canva/7. Main Dashboard (Slide 5).png
canva/8. Test API (1).png
canva/9. Test API (2).png
